@import '../../../styles';

header {
  width: 100%;
  position: absolute;
  padding-top: 40px;
  padding-left: 55px;
  display: flex;
  align-items: center;
}

.headerLine {
  width: 33%;
  height: 1px;
  margin: 0 40px;
  background: $light;
  opacity: 25%;
  z-index: 2;
}

input {
  display: none;
}

.menuBtn {
  display: none;
}

nav {
  flex-grow: 1;
  padding: 0 60px 0 15px;
  position: relative;
  z-index: 1;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      text-transform: uppercase;
      line-height: 92px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      @include navText;
      span {
        margin-right: 8px;
        font-weight: bold;
      }

      &:active {
        border-bottom: 2px solid $light;
      }
      &:hover {
        border-bottom: 2px solid $hover;
      }
    }
  }

  &::after {
    content: "";
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.04);
    position: absolute;
    inset: 0 0 0 -10%;
    z-index: -1;
  }
}

//for tablets
@media screen and (max-width: 1023px) {
  header {
    padding-top: 0;
    justify-content: space-between;
  }
  input {
    display: none;
  }
  .headerLine {
    display: none;
  }
  nav {
    flex-grow: initial;
    width: 60%;
    padding: 0 40px 0 0;
  }
  nav ul li {
    font-size: 14px;
  }
  nav ul li span {
    display: none;
  }
}

//for mobiles
@media screen and (max-width: 650px) {

  header {
    padding: 24px;
  }

  nav {
    display: none;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    width: 24px;
    height: 21px;
    cursor: pointer;
    z-index: 10;
  }

  input + label span {
    position: relative;
    width: 24px;
    height: 3px;
    display: flex;
    background: $blue;
    &::before, &::after {
      content: "";
      width: 24px;
      height: 3px;
      display: block;
      background: $blue;
      position: absolute;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }

  input:checked + label span {
    background-color: transparent;
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
  input:checked ~ nav {
    display: initial;
    width: 60%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 70px;
    padding-right: 0;
    & ul {
      flex-direction: column;
      & li {
        line-height: 30px;
        margin: 16px 0;
        &:active {
          border-bottom: none;
          border-right: 3px solid $light;
        }
        &:hover {
          border-bottom: none;
          border-right: 3px solid $hover;
        }
        & span {
          display: initial;
        }
      }
    }
  }

}
