<header>

  <img src="../../../assets/shared/logo.svg" class="logo" alt="picture of a star as a logo">

  <div class="headerLine"></div>

  <!-- <div class="menuBtn"> -->
    <input type="checkbox" id="menu">
    <label for="menu"><span id="menu-icon"></span></label>
  <!-- </div> -->
  <nav>
    <ul (click)="hideMobileMenu()">
      <li routerLink="" routerLinkActive="router-link-active" [routerLinkActiveOptions]={exact:true}><span>00</span>home</li>
      <li routerLink="/destination" routerLinkActive="router-link-active"><span>01</span>destination</li>
      <li routerLink="/crew" routerLinkActive="router-link-active"><span>02</span>crew</li>
      <li routerLink="/technology" routerLinkActive="router-link-active"><span>03</span>technology</li>
    </ul>
  </nav>
</header>
