@import '../../styles';

.crew {
  width: 100vw;
  height: clamp(800px, 100vh, 3000px);
  background: url(../../assets/images/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.crew h5 {
  @include h5PositionDesktop;
  & span {
    opacity: 0.25;
    margin-right: 28px;
  }
}

.tabCrew {
  width: 100%;
  height: 100%;
  position: relative;
}

.crewText {
  position: absolute;
  top: 45%;
  left: 11.5vw;
  bottom: 0;
}

.crewDetails {
  & h3 {
    margin: 1.6vh 0 3vh;
    font-size: 4vw;
  }
  & h4 {
    text-transform: uppercase;
    line-height: 36.67px;
    color: $hover;
  }
  & p {
    width: 31vw;
  }
}

.labelsCrew {
  display: flex;
  position: absolute;
  bottom: 10vh;
  .labelCrew {
    list-style: none;
    margin: 10px;

    & span {
      cursor: pointer;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgba($color: white, $alpha: 0.17);
      &:hover {
        background-color: $hover;
      }
      &.active {
        background-color: white;
      }
    }
  }
}

.crewImage {
  position: absolute;
  bottom: 0;
  left: 73%;
  transform: translateX(-50%);
  min-height: 70vh;
}



//for tablets
@media screen and (max-width: 1023px) {
  .crew {
    width: 100%;
    min-height: 1024px;
    background: url(../../assets/images/crew/background-crew-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .crew h5 {
    @include h5PositionAndDesignTablet;
  }

  .crewText {
    width: 60%;
    top: 21.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .crewDetails {
    & h4 {
      line-height: 27.5px;
      font-size: 2.4rem;
    }
    & p {
      width: 100%;
      font-size: 1.6rem;
      line-height: 28px;
    }
  }

  .labelsCrew {
    justify-content: center;
    position: initial;
    margin-top: 40px;
    .labelCrew {
      margin: 8px;
      & span {
        width: 10px;
        height: 10px;
      }
    }
  }

  .crewImage {
    height: 48%;
    min-height: initial;
    left: 50%;
  }
}

//for mobiles
@media screen and (max-width: 650px) {
  .crew {
    width: 100%;
    min-height: 710px;
    background: url(../../assets/images/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .crew h5 {
    @include h5PositionAndDesignMobile;
    span {
      margin-right: 18px;
    }
  }

  .crewText {
    width: 87%;
    top: 0;
  }

  .crewDetails {
    position: absolute;
    top: 61.4%;
    & h3 {
      font-size: 2.4rem;
      line-height: 27.5px;
    }
    & h4 {
      line-height: 18.34px;
      font-size: 1.6rem;
    }
    & p {
      width: 100%;
      line-height: 25px;
      font-size: 1.5rem;
    }
  }

  .labelsCrew {
    position: absolute;
    top: 55.5%;
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    .labelCrew {
      margin-top: 0;
      & span {
        width: 10px;
        height: 10px;
      }
    }
  }

  .crewImage {
    height: 31.4%;
    top: 20%;
    padding: 0 20vw;
    border-bottom: 1px solid #383B4B;
  }
}
