<div class="crew">

  <h5><span>01</span>meet your crew</h5>

  <div class="tabCrew">

    <div class="crewText">

      <div class="crewDetails">
        <h4 class="role">{{crewPerson.role}}</h4>
        <h3>{{crewPerson.name}}</h3>
        <p class="crewDescription">{{crewPerson.bio}}</p>
      </div>


      <div class="labelsCrew">
        <div class="labelCrew"
        [id]="CrewItems.indexOf(item)"
        *ngFor="let item of CrewItems; let i = index"
        (click)="change(item, i)">
        <span [class.active]="selectedIndex === i"></span>
        </div>
      </div>
    </div>


    <img class="crewImage" [src]="crewPerson.images" alt="picture of people from the crew">

  </div>

</div>
