@import '../../styles';

.destination {
  width: 100%;
  height: clamp(750px, 100vh, 3000px);
  background: url(../../assets/images/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination h5 {
  position: absolute;
  top: clamp(180px, 23vh, 400px);
  left: 11.5%;

  & span {
    opacity: 0.25;
    margin-right: 28px;
  }
}

.mat-tab-group {
  position: absolute;
  top: clamp(280px, 34%, 500px);
  right: 163px;
  width: 32vw;
  height: 52vh;
}

.mat-tab-body-wrapper, .mat-tab-body, .mat-tab-body-active, .mat-tab-label-container, .mat-tab-body-content {
  overflow: initial !important;
}

.matTabDestination .mat-tab-label {
  @include navText;
  color: $blue;
  line-height: 19.2px;
  text-transform: uppercase;
  margin-right: 36px;
  padding: 0 !important;
  min-width: 0 !important;
  &:hover {
    border-bottom: 3px solid $hover;
  }
}
.matTabDestination .mat-tab-label:last-of-type {
  margin-right: 0;
}

.matTabDestination .mat-tab-label-active {
  color: $light;
  &:hover {
    border-bottom: none;
  }
}
.mat-ink-bar {
  background-color: $light !important;
}
.destinationImage {
  position: absolute;
  left: -42vw;
  width: clamp(300px, 31vw, 500px);
  top: 50%;
  transform: translateY(-50%);
}

.destination h2 {
  margin: 4vh 0 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 12.7vh;
}
.destination .description {
  // font-weight: 400;
  // font-size: clamp(15px, 2vh, 22px);
  // line-height: 32px;
  // color: $blue;
  // font-family: $fontText;
  margin-bottom: 6vh;
}
.details {
  display: flex;
  padding-top: 28px;
  border-top: 1px solid #383B4B;
}
.destination .distance {
  margin-right: 18%;
}
.destination h6 {
  @include subheading2;
  line-height: 16.8px;
  color: $blue;
}
.detailsItem {
  @include subheading1;
  font-size: 3vmin;
  line-height: 32.09px;
  text-transform: uppercase;
}


//for tablets
@media screen and (max-width: 1023px) {

  .destination {
    width: 100%;
    min-height: 1024px;
    // height: clamp(1024px, 100vh, 3000px);
    background: url(../../assets/images/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .destination h5 {
    left: 5%;
    top: 136px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
  }

  .destinationImage {
    top: -385px;
    left: 50%;
    transform: translateX(-50%);
  }

  .mat-tab-group {
    width: 75vw;
    right: 0;
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
  .destinationText {
    text-align: center;
  }
  .destination h2 {
    margin: 32px 0 8px;
    font-size: 80px;
    line-height: 92px;
  }
  .destinationText .description {
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 28px;
  }

  .details {
    justify-content: center;
  }

}


//for mobiles
@media screen and (max-width: 650px) {

  .destination {
    width: 100%;
    height: clamp(850px, 100vh, 1500px);
    background: url(../../assets/images/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .destination h5 {
    top: 88px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7;
    span {
      margin-right: 18px;
    }
  }

  .destinationImage {
    width: 170px;
    top: -235px;
  }

  .mat-tab-group {
    width: 87vw;
    right: 0;
    top: 335px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }

  .mat-tab-header {
    width: 238px;
    justify-content: center;
  }

  .matTabDestination .mat-tab-label {
    font-size: 14px;
    letter-spacing: 2.36px;
    line-height: 16.8px;
    margin-right: 26px;
  }

  .destination h2 {
    font-size: 56px;
    line-height: 64.18px;
    margin: 20px 0 1px;
  }
  .destinationText .description {
    max-width: 500px;
    line-height: 25px;
    font-size: 15px;
  }

  .details {
    flex-direction: column;
    padding-top: 32px;
    .distance {
      margin-right: 0;
    }
    .detailsItem {
      font-size: 28px;
      margin: 12px 0 32px;
    }
  }
}
