@import '../../styles';

.technology {
  width: 100%;
  height: 100vh;
  background: url(../../assets/images/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.technology h5 {
  position: absolute;
  top: clamp(180px, 23vh, 400px);
  left: 11.5%;

  & span {
    opacity: 0.25;
    margin-right: 28px;
  }
}


.technologyText {
  width: 88.5vw;
  height: 34%;
  position: absolute;
  top: 42.5%;
  left: 11.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .technoImage img {
    width: 36vw;
  }

  .labelsTechnology {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .labelTechnology {
      & span {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid rgba($color: white, $alpha: 0.25);
        font-family: $fontTitles;
        font-size: 32px;
        line-height: 36.67px;
        letter-spacing: 2px;
        &:hover {
          border: 1px solid white;
        }
        &.active {
          background-color: $light;
          color: black;
          border: 1px solid white;
        }
      }
    }
  }

  .technologyDetails {
    width: 37%;
    margin-right: 6%;
    & span {
      @include navText;
      line-height: 19.2px;
      color: $blue;
    }
    & h3 {
      margin: 3.6% 0 5.6%;
    }
  }

}


//for tablets
@media screen and (max-width: 768px) {
  .technology {
    width: 100%;
    min-height: 1024px;
    background: url(../../assets/images/technology/background-technology-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .technology h5 {
    left: 5%;
    top: 136px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.38px;
  }

  .technologyText {
    flex-direction: column;
    width: 100vw;
    top: 220px;
    left: unset;
    height: unset;
    text-align: center;

    .technoImage {
      order: -1;
    }

    .labelsTechnology {
      flex-direction: row;
      margin: 56px 0 44px;
      width: 210px;

      .labelTechnology {
        & span {
          width: 60px;
          height: 60px;
          font-size: 24px;
          letter-spacing: 1.5px;
          line-height: 27.5px;
        }
      }
    }

    .technologyDetails {
      margin-right: 0;
      width: 60%;
      & h3 {
        font-size: 40px;
        line-height: 45.84px;
        margin: 16px 0;
      }
      & p {
        font-size: 16px;
        line-height: 28px;
      }
    }

    .technoImage img {
      width: 100%;
    }
  }
}


//for mobiles
@media screen and (max-width: 650px) {
  .technology {
    width: 100%;
    min-height: 710px;
    background: url(../../assets/images/technology/background-technology-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .technology h5 {
    top: 88px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    span {
      margin-right: 18px;
    }
  }

  .technologyText {
    top: 139px;
    .labelsTechnology {
      margin: 34px 0 26px;
      width: 152px;

      .labelTechnology {
        & span {
          width: 40px;
          height: 40px;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 18.34px;
        }
      }
    }

    .technologyDetails {
      width: 87%;
      & h3 {
        font-size: 24px;
        line-height: 27.5px;
        margin: 9px 0 16px;
      }
      & h4 {
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 2.36px;
      }
      & p {
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}
