*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html { height: 100%; }

$dark: #0B0D17;
$blue: #D0D6F9;
$light: #FFF;
$hover: rgba(255, 255, 255, 0.5);

$fontTitles: 'Bellefair', serif;
$fontText: 'Barlow Condensed', sans-serif;

body {
  font-family: $fontText;
  font-weight: 400;
  color: #FFF;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: $fontTitles;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  font-family: $fontTitles;
  font-size: 100px;
}
h3 {
  font-family: $fontTitles;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
}
h4 {
  font-family: $fontTitles;
  font-size: 32px;
  font-weight: 400;
}
h5 {
  font-family: $fontText;
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: clamp(15px, 2vh, 22px);
  line-height: 32px;
  color: $blue;
  font-family: $fontText;
}

@mixin subheading1 {
  font-family: $fontTitles;
  font-size: 28px;
}
@mixin subheading2 {
  font-family: $fontText;
  font-size: 14px;
  letter-spacing: 2.35px;
}

@mixin navText {
  font-family: $fontText;
  font-size: 16px;
  letter-spacing: 2.7px;
}

@mixin h5PositionDesktop {
  position: absolute;
  top: clamp(180px, 23vh, 400px);
  left: 11.5%;
}
@mixin h5PositionAndDesignTablet {
  left: 5%;
  top: 136px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 3.38px;
}
@mixin h5PositionAndDesignMobile {
  top: 88px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7;
}

