*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark: #0B0D17;
$blue: #D0D6F9;
$light: #FFF;
$hover: rgba(255, 255, 255, 0.5);

$fontTitles: 'Bellefair', serif;
$fontText: 'Barlow Condensed', sans-serif;

body {
  font-family: $fontText;
  font-weight: 400;
  color: #FFF;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: $fontTitles;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
}
h2 {
  font-family: $fontTitles;
  font-size: 100px;
}
h3 {
  font-family: $fontTitles;
  font-size: 56px;
}
h4 {
  font-family: $fontTitles;
  font-size: 32px;
}
h5 {
  font-family: $fontText;
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin subheading1 {
  font-family: $fontTitles;
  font-size: 28px;
}
@mixin subheading2 {
  font-family: $fontText;
  font-size: 14px;
  letter-spacing: 2.35px;
}

@mixin navText {
  font-family: $fontText;
  font-size: 16px;
  letter-spacing: 2.7px;
}
